.overlay{
    @apply w-[100%] h-[100%] fixed bottom-0 top-0 left-0 flex items-center justify-center 
    bg-black backdrop-blur-md bg-opacity-40
}

.modal{
    @apply w-3/4 h-2/3 bg-slate-200 rounded-lg bg-opacity-70 backdrop-blur shadow p-1
    dark:bg-black dark:bg-opacity-70 dark:backdrop-blur
    md:w-1/2
}

.modal-header{
    @apply w-full flex justify-end
}
.modal-header button{
    @apply hover:text-zinc-100 duration-300
}
.modal-container{
    @apply w-full h-full flex flex-col
    md:flex-row
}
.modal-container-left{
    @apply w-full h-10 flex justify-center items-center
    md:h-full
}
.imagem{
    @apply h-52 -translate-y-40
    md:-translate-y-0 md:h-96
}
.modal-container-right{
    @apply w-full h-full text-zinc-100
}

.pokemon-name-modal{
    @apply capitalize text-5xl
}
.types-pokemon-modal{
    @apply capitalize flex gap-2 justify-center
}
.pokemon-stats-modal{
    @apply font-light text-3xl mt-4 
}
.stat-container-barra{
    @apply flex gap-3 items-center
}
.stat-info{
    @apply uppercase flex justify-between px-4 font-normal items-center
}
.stat-barra{
    @apply h-2 rounded-md bg-green-300
}